<h3>{{sprint.name}}</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{"todo" | translate}}</th>
            <th>{{"inProgress" | translate}}</th>
            <th>{{"resolved" | translate}}</th>
            <th>{{"closed" | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-md-2">
                <ul class="list-group">
                    <li ng-repeat="issue in sprint.todo" class="list-group-item">
                        <a href="#/issues/{{issue._id}}"><span><b>{{issue.name}}</b></span></a>
                        <span title="Story points" class="badge">{{issue.storyPoints}}</span>
                        <br>
                        <br>
                        <span title="Type"><i>{{issue.issueType.name | translate}}</i></span>
                        <br>
                        <span title="Severity"><i>{{issue.severity.name|translate}}</i></span>
                        <br>
                        <span title="Assignee User"><a href="#/profile/{{issue.assigneeUser._id}}">{{issue.assigneeUser.username}}</a></span>
                        <br>
                        <br>
                        <div class="btn-group btn-group-xs" role="group">
                            <button type="button" ng-click="updateStatus('In Progress', issue._id)" class="btn btn-default">{{"startProgress" | translate}}</button>
                        </div>
                    </li>
                </ul>
            </td>
            <td class="col-md-2">
                <ul class="list-group">
                    <li ng-repeat="issue in sprint.inprog" class="list-group-item">
                        <a href="#/issues/{{issue._id}}"><span><b>{{issue.name}}</b></span></a>
                        <span title="Story points" class="badge">{{issue.storyPoints}}</span>
                        <br>
                        <br>
                        <span title="Type"><i>{{issue.issueType.name|translate}}</i></span>
                        <br>
                        <span title="Severity"><i>{{issue.severity.name|translate}}</i></span>
                        <br>
                        <span title="Assignee User"><a href="#/profile/{{issue.assigneeUser._id}}">{{issue.assigneeUser.username}}</a></span>
                        <br>
                        <br>
                        <div class="btn-group btn-group-xs" role="group">
                            <button type="button" ng-click="updateStatus('Open', issue._id)" class="btn btn-default">{{"stopProgress" | translate}}</button>
                            <button type="button" ng-click="updateStatus('Resolved', issue._id)" class="btn btn-default">{{"resolve" | translate}}</button>
                        </div>
                    </li>
                </ul>
            </td>
            <td class="col-md-2">
                <ul class="list-group">
                    <li ng-repeat="issue in sprint.resolved" class="list-group-item">
                        <a href="#/issues/{{issue._id}}"><span><b>{{issue.name}}</b></span></a>
                        <span title="Story points" class="badge">{{issue.storyPoints}}</span>
                        <br>
                        <br>
                        <span title="Type"><i>{{issue.issueType.name|translate}}</i></span>
                        <br>
                        <span title="Severity"><i>{{issue.severity.name|translate}}</i></span>
                        <br>
                        <span title="Assignee User"><a href="#/profile/{{issue.assigneeUser._id}}">{{issue.assigneeUser.username}}</a></span>
                        <br>
                        <br>
                        <div class="btn-group btn-group-xs" role="group">
                            <button type="button" ng-click="updateStatus('Open', issue._id)" class="btn btn-default">{{"reopen" | translate}}</button>
                            <button type="button" ng-click="updateStatus('Closed', issue._id)" class="btn btn-default">{{"close" | translate}}</button>
                        </div>
                    </li>
                </ul>
            </td>
            <td class="col-md-2">
                <ul class="list-group">
                    <li ng-repeat="issue in sprint.closed" class="list-group-item">
                        <a href="#/issues/{{issue._id}}"><span><b>{{issue.name}}</b></span></a>
                        <span title="Story points" class="badge">{{issue.storyPoints}}</span>
                        <br>
                        <br>
                        <span title="Type"><i>{{issue.issueType.name|translate}}</i></span>
                        <br>
                        <span title="Severity"><i>{{issue.severity.name|translate}}</i></span>
                        <br>
                        <span title="Assignee User"><a href="#/profile/{{issue.assigneeUser._id}}">{{issue.assigneeUser.username}}</a></span>
                        <br>
                        <br>
                        <div class="btn-group btn-group-xs" role="group">
                            <button type="button" ng-click="updateStatus('Open', issue._id)" class="btn btn-default">{{"reopen" | translate}}</button>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
