<h3>Backlog of {{project.name}}</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4> <a href="#/project/{{project._id}}/activeSprint">{{activeSprint.name}}</a></h4>
        <p class="help-block">{{activeSprint.issues.length}} issues</p>
    </div>
    <div class="panel-body">
        <div class="row" ng-switch on="activeSprint.issues.length">
            <ul ng-switch-when="0">
                <div class="well">No issues for this sprint.</div>
            </ul>
            <table ng-switch-default class="table table-striped">
                <thead>
                    <tr>
                        <th>Issue name</th>
                        <th>Issue type</th>
                        <th>Severity</th>
                        <th>Status</th>
                        <th>Assignee user</th>
                        <th>SP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="issue in activeSprint.issues">
                        <td><a href="#/issues/{{issue._id}}">{{issue.name}}</a></td>
                        <td>{{issue.issueType}}</td>
                        <td>{{issue.severity}}</td>
                        <td>{{issue.status}}</td>
                        <td><a href="#/profile/{{issue.assigneeUser._id}}">{{issue.assigneeUser}}</a></td>
                        <td><span class="badge">{{issue.storyPoints}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <p><b>Total points: </b><span class="badge"> {{activeSprint.totalPoints}}</span></p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4> Backlog </h4>
        <p class="help-block">{{backlog.issues.length}} issues</p>
    </div>
    <div class="panel-body">
        <div class="row" ng-switch on="backlog.issues.length">
            <ul ng-switch-when="0">
                <div class="well">No issues for this sprint.</div>
            </ul>
            <table ng-switch-default class="table table-striped">
                <thead>
                    <tr>
                        <th>Issue name</th>
                        <th>Issue type</th>
                        <th>Severity</th>
                        <th>Status</th>
                        <th>Assignee user</th>
                        <th>SP</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="issue in backlog.issues">
                        <td><a href="#/issues/{{issue._id}}">{{issue.name}}</a></td>
                        <td>{{issue.issueType}}</td>
                        <td>{{issue.severity}}</td>
                        <td>{{issue.status}}</td>
                        <td><a href="#/profile/{{issue.assigneeUser._id}}">{{issue.assigneeUser}}</a></td>
                        <td><span class="badge">{{issue.storyPoints}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <p><b>Total points: </b><span class="badge"> {{backlog.totalPoints}}</span></p>
    </div>
</div>
