<div ng-repeat="message in messages">
	<div class="alert alert-danger">{{message | translate}}</div>
</div>
<form class="form-horizontal" ng-submit="submit()">
	<fieldset>
		<div id="legend">
			<legend class="">{{"register"|translate}}</legend>
		</div>
		<div class="control-group">
			<!-- Username -->
			<div class="col-sm-3">
				<label class="control-label" for="username">{{"Username"|translate}}:</label>
			</div>
			<div class="col-sm-9">
				<div class="controls">
					<input type="text" id="username" ng-model="formData.username" class="form-control" required>
					<p class="help-block">{{"Username can contain any letters or numbers, without spaces"|translate}}</p>
				</div>
			</div>
		</div>
		<div class="control-group">
			<!-- Password -->
			<div class="col-sm-3">
				<label class="control-label" for="password">{{"Password"|translate}}:</label>
			</div>
			<div class="col-sm-9">
				<div class="controls">
					<input type="password" id="password" ng-minlength="4" ng-model="formData.password" class="form-control" required>
					<p class="help-block">{{"Password should be at least 4 characters"|translate}}</p>
				</div>
			</div>
		</div>
		<div class="control-group">
			<!-- Confirm password -->
			<div class="col-sm-3">
				<label class="control-label" for="confPassword">{{"Password(Confirm)"|translate}}:</label>
			</div>
			<div class="col-sm-9">
				<div class="controls">
					<input type="password" id="confPassword" ng-model="formData.confPassword" class="form-control" required>
					<p class="help-block">{{"Please, confirm password"|translate}}</p>
				</div>
			</div>
		</div>
		<div class="control-group">
			<!-- E-mail -->
			<div class="col-sm-3">
				<label class="control-label" for="email">E-mail:</label>
			</div>
			<div class="col-sm-9">
				<div class="controls">
					<input type="email" id="email" ng-model="formData.email" class="form-control" required>
					<p class="help-block">{{"Please, provide your e-mail"|translate}}</p>
				</div>
			</div>
		</div>
		<div class="control-group">
			<!-- First name -->
			<div class="col-sm-3">
				<label class="control-label" for="firstName">{{"First name"|translate}}:</label>
			</div>
			<div class="col-sm-9">
				<div class="controls">
					<input type="text" id="firstName" ng-model="formData.firstName" class="form-control" required>
					<p class="help-block">{{"Please, provide your first name"|translate}}</p>
				</div>
			</div>
		</div>
		<div class="control-group">
			<!-- Last name -->
			<div class="col-sm-3">
				<label class="control-label" for="lastName">{{"Last name"|translate}}:</label>
			</div>
			<div class="col-sm-9">
				<div class="controls">
					<input type="text" id="lastName" ng-model="formData.lastName" class="form-control" required>
					<p class="help-block">{{"Please, provide your last name"|translate}}</p>
				</div>
			</div>
		</div>
		<div class="control-group">
			<!-- Location -->
			<div class="col-sm-3">
				<label class="control-label" for="location">{{"Location"|translate}}:</label>
			</div>
			<div class="col-sm-9">
				<div class="controls">
					<input type="text" id="location" ng-model="formData.location" class="form-control">
					<p class="help-block">{{"Please, provide your location"|translate}}</p>
				</div>
			</div>
		</div>
		<div class="control-group">
			<!-- Role -->
			<div class="col-sm-3">
				<label class="control-label" for="role">{{"Choose role"|translate}}:</label>
			</div>
			<div class="col-sm-9">
				<div class="controls">
					<select ng-options="role.name | translate for role in roles" ng-model="formData.choosenRole" id="role" class="form-control" name="role">
					</select>
					<p class="help-block">{{"Please, choose your role"|translate}}</p>
				</div>
			</div>

		</div>
		<div class="control-group">
			<!-- Button -->
			<div class="col-sm-3">
				<div class="controls">
					<button class="btn btn-success">{{"Register"|translate}}</button>
				</div>
			</div>
		</div>

	</fieldset>
</form>
