<!-- Add project modal -->
<form name="projectForm" role="form" class="form-horizontal" ng-submit="addProject(projectForm.$valid)" novalidate>
    <!-- Modal content-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Add project</h3>
      </div>
      <div class="modal-body">
      <div ng-repeat="message in messages">
        <div class="alert alert-danger">{{message}}</div>
      </div>
<fieldset>
<div class="control-group">
  <!-- Project name -->
  <div class="col-sm-3">
   <label class="control-label" for="username">Project name:</label>    
  </div>
  <div class="col-sm-9">
      <div class="controls">
    <input type="text" pattern=".{3,250}" ng-model="projectForm.name" class="form-control" required>
    <p class="help-block">Project name should be at least 3 characters and less 250 characters</p>
  </div>
  </div>
</div>
<div class="control-group">
  <!-- Project name -->
  <div class="col-sm-3">
   <label class="control-label" for="username">Short name:</label>  
  </div>
  <div class="col-sm-9">
      <div class="controls">
    <input type="text" id="shortName" pattern=".{3}" maxlength="3" ng-model="projectForm.shortName" class="form-control" required>
    <p class="help-block">Short name should be 3 capital letters (NBI, for example)</p>
  </div>
  </div>
</div>
</fieldset>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-disabled="projectForm.$invalid" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      </div>

</form>