<!DOCTYPE html>
<html ng-app="deaconApp">
<head>
    <meta charset="utf-8">
    <title>Deacon</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <script src="angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="app/app.js" ></script>
    <script src="app/controllers/projectControllers.js"></script>
</head>
<body>
<div class="container">
	<h1>Deacon</h1>
	<div ng-view></div>
</div>
</body>
</html>