<h1>Log in</h1>
{{#if isMessageNotEmpty}}
 <div class="alert alert-danger">{{message}}</div>
{{/if}}
<form action="/login" method="post" role="form">
Login:<br>
<input type="text" name = "username" value=""><br>
Password:<br>
<input type="password" name = "password"><br>
<input type="submit" value="Log in">
</form>
