<h1>Register</h1>
{{#if isMessageNotEmpty}}
 <div class="alert alert-danger">{{message}}</div>
{{/if}}
<form action="/register" method="post">
Login:<br>
<input type="text" name = "username"><br>
Password:<br>
<input type="password" name = "password"><br>
Confirm password:<br>
<input type="password" name="passwordConfirmation"><br>
E-mail:<br>
<input type="email" name="email"><br>
First name:<br>
<input type="text" name="firstName"><br>
Last name:<br>
<input type="text" name="lastName"><br>
Location:<br>
<input type="text" name="location"><br>
Choose role:<br>
<select name="role">
        {{#each roles}} 
        	<option value="{{this.name}}">{{this.name}}</option>
        {{/each}} 
</select><br>

<input type="submit" value="Register">
</form>
