<form name="issueForm" ng-submit="update(issueForm.$valid)" class="form-horizontal" novalidate>
<h3>Issue <b ng-show="!editable">{{issue.name}}</b> <input ng-show="editable" type="text" pattern=".{3,250}" ng-model="issueForm.name" class="form-control" required>  </h3>
<div class="panel panel-default">
  <div class="panel-heading"><b>Issue info</b></div>
  <div class="panel-body">
	<p> <b>Description: </b> <span ng-show="!editable">{{issue.description}} </span><textarea ng-show="editable" name="description"  class="form-control" rows="5" ng-model="issueForm.description"></textarea></p>
	<p> <b>Status: </b>{{issue.status.name}}</p>
	<p> <b>Severity: </b><span ng-show="!editable">{{issue.severity.name}}</span>  
  <select ng-show="editable" ng-options="severity.name for severity in severities" ng-model="issueForm.severity" class="form-control">
  </select></p>
	<p> <b>Issue type: </b><span ng-show="!editable">{{issue.issueType.name}}</span>  
  <select ng-show="editable" ng-options="issueType.name for issueType in issueTypes" ng-model="issueForm.issueType" class="form-control">
  </select></p>
	<p> <b>Assignee user: </b><a ng-show="!editable" href="#/profile/{{issue.assigneeUser._id}}">{{issue.assigneeUser.username}}</a>   
  <select ng-show="editable" ng-options="user.username for user in users" ng-model="issueForm.assigneeUser" class="form-control">
  </select>
  </p>
	<p> <b>Reporter: </b><a href="#/profile/{{issue.reporter._id}}">{{issue.reporter.username}}</a></p>
	<p> <b>Created at: </b> {{issue.createdAt|date:'medium'}}</p>
	<p> <b>Last updated at: </b> {{issue.updatedAt|date:'medium'}}</p>
  <button type="button" ng-show="!editable" class="btn btn-default" ng-click="editable=true"><span class="glyphicon glyphicon-pencil"></span> Edit issue</button>
  <button type="submit" ng-show="editable" ng-disabled="issueForm.$invalid" class="btn btn-success"></span> Save</button>
  <button ng-show="editable" class="btn btn-default" ng-click="editable=false"></span> Cancel</button>
  </div>
</div>
</form>
<div class="panel panel-default">
  <div class="panel-heading"><b>Add comment</b></div>
  <div class="panel-body">
  <form class="form-horizontal" name="addCommentForm">
  <fieldset>
  	   	<textarea rows="5" class="form-control" placeholder="Add comment..."></textarea>
  	   	<br>
	<button type="submit" class="btn btn-default">Add</button>
  </fieldset>

  </form>
  </div>
</div>