<form class="form-signin" ng-submit="submit()">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div ng-repeat="message in messages">
            <div class="alert alert-danger">{{message}}</div>
        </div>
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Login</label>
        <input type="text" id="inputEmail" name="username" ng-model="formData.username" class="form-control" placeholder="Login" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" ng-model="formData.password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<br>
<div class="well">
    <p>You are not in the system? Then <a href="#/signup">Sign up</a>!</p>
</div>

</div>
<div class="col-sm-4"></div>
