<h3>Profile of user <b>{{profileUser.username}}</b></h3>
<p><img width="100px" height="100px" src="storage/avatars/{{profileUser.avatar}}"> <div ng-show="isYourOwnProfile"><form name="upload_form">
            <p><b>Upload new avatar:</b></p>
            <div class="control-group">
              <p><input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB"/></p>
            </div>
            <span ng-show="file">Avatar preview:<br> <p><img width="100px" height="100px" ngf-src="file"/></p></span>
            <i ng-show="upload_form.file.$error.maxSize">File too large 
            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
            <div class="control-group">
                <button ng-disabled="!file" class="btn btn-success" type="submit" ng-click="upload()">Save</button> 
            </div>

        </form></div></p>
<div class="panel panel-default">
  <div class="panel-heading"><b>User info</b></div>
  <div class="panel-body">
	<p> <b>First name:</b> {{profileUser.firstName}} </p>
	<p><b> Last name:</b> {{profileUser.lastName}} </p>
	<p> <b>E-Mail:</b> <a href="mailto:{{profileUser.email}}" target="_top">{{profileUser.email}}</a> </p>
	<p> <b>Location:</b> {{profileUser.location}}</p>
	<p> <b>Date of registration:</b> {{profileUser.createdAt | date:'medium'}}</p>
  <p><b>Role:</b> {{profileUser.role.name}}</p>
  </div>
</div>
<div class="panel panel-default" ng-if="isYourOwnProfile">
  <div class="panel-heading"><b>Change password</b></div>
  <div class="panel-body">
  <form>
	  <div class="control-group">
  <!-- Old Password -->
  <div class="col-sm-2">
   <label class="control-label" for="password">Old password:</label>
  </div>
  <div class="col-sm-9">
  	<div class="controls">
    <input type="password" id="password" ng-minlength="4" ng-model="formData.password" class="form-control" required>
    <p class="help-block">Enter old password</p>
  </div>
  </div>
</div>
<div class="control-group">
  <!-- New Password -->
  <div class="col-sm-2">
   <label class="control-label" for="password">New password:</label>
  </div>
  <div class="col-sm-9">
  	<div class="controls">
    <input type="password" id="password" ng-minlength="4" ng-model="formData.password" class="form-control" required>
    <p class="help-block">Password should be at least 4 characters</p>
  </div>
  </div>
</div>
<div class="control-group">
  <!-- Confirm password -->
  <div class="col-sm-2">
   <label class="control-label" for="confPassword"> New password(Confirm):</label>
  </div>
  <div class="col-sm-9">
  	<div class="controls">
    <input type="password" id="confPassword" ng-model="formData.confPassword" class="form-control" required>
    <p class="help-block">Please, confirm password</p>
  </div>
  </div>
</div>
<div class="control-group">
      <!-- Button -->
        <div class="col-sm-3">
      <div class="controls">
        <button class="btn btn-info">Change password</button>
      </div>
  </div>
</div>
</div>

	
</form>

  </div>
</div>
